.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: auto;
  margin: 161px 0 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 587px;
}

.u-section-2 .u-image-1 {
  width: 670px;
  height: 428px;
  filter: brightness(0.95);
  margin: 70px 27px 0 auto;
}

.u-section-2 .u-text-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    height: 345px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 249px;
    width: 390px;
    margin-top: 45px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 45px 0 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}
.u-section-3 .u-container-layout-1 {
  padding: 30px;
}


.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 325px;
  }

  .u-section-3 .u-image-2 {
    min-height: 325px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 22px;
    margin-right: 0;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 685px;
}

.u-section-4 .u-image-1 {
  width: 465px;
  height: 505px;
  margin: 90px 105px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -442px 615px 60px 118px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 515px;
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 313px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-right: 75px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 369px;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}