 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-9.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: 422px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Roboto;
  font-weight: 100;
  margin: 30px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  margin: 62px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 16px auto 0 112px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 115px 8px 114px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 300;
  margin: 45px 35px 0;
}

.u-section-2 .u-text-4 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -32px auto 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 506px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 45px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 18px;
  margin-top: 29px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-image-1 {
  width: 341px;
  height: 216px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Roboto;
  font-size: 1.125rem;
  margin: 27px auto 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-3 .u-image-2 {
  width: 341px;
  height: 216px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-3 {
  font-family: Roboto;
  font-size: 1.125rem;
  margin: 27px auto 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-image-3 {
  width: 341px;
  height: 216px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-4 {
  font-family: Roboto;
  font-size: 1.125rem;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-3 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-list-item-3 {
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 215px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 215px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 215px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/d970a2ff-2fcd-b1d8-8722-04b25514b4ec.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 276px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Roboto;
  font-weight: 100;
  width: 527px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 28px auto 60px;
  padding: 10px 128px 10px 127px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 925px;
}

.u-section-5 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 74px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300;
  width: 519px;
  margin: 24px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 852px;
  margin: 24px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 573px;
  background-image: url("images/photo16553921235.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 277px;
  background-image: url("images/photo16553921178.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  min-height: 296px;
  background-image: url("images/photo16553921203.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 38px auto 60px;
  padding: 10px 128px 10px 127px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 484px;
  }

  .u-section-5 .u-image-2 {
    min-height: 234px;
  }

  .u-section-5 .u-image-3 {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1790px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 726px;
  }

  .u-section-5 .u-image-2 {
    min-height: 351px;
  }

  .u-section-5 .u-image-3 {
    min-height: 375px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 457px;
  }

  .u-section-5 .u-image-2 {
    min-height: 221px;
  }

  .u-section-5 .u-image-3 {
    min-height: 236px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 901px;
}

.u-section-6 .u-text-1 {
  font-size: 2.5rem;
  margin: 76px auto 0;
}

.u-section-6 .u-text-2 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 100;
  width: 515px;
  margin: 40px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 530px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-family: Roboto;
  font-size: 1.125rem;
  margin: 6px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 300;
  margin: 24px 2px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-text-7 {
  font-family: Roboto;
  font-size: 1.125rem;
  margin: 6px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 300;
  margin: 24px 2px 0 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-text-10 {
  font-family: Roboto;
  font-size: 1.125rem;
  margin: 6px auto 0 0;
}

.u-section-6 .u-text-11 {
  font-weight: 300;
  margin: 24px 2px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 24px auto 46px;
  padding: 10px 110px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 471px;
  }

  .u-section-6 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-6 .u-image-1 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-6 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-6 .u-image-1 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    height: 69px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 69px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 69px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 646px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 500px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 153px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 506px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-map-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
}